@model OrderViewModel

@{
    ViewData["Title"] = "Edit order";
}

<div class="container my-2">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    Edit order
                </div>
                <div class="card-body">
                    <form method="post" asp-area="User" asp-controller="Order" asp-action="Edit">
                        @Html.HiddenFor(m => m.Order.Id)
                        <div class="row mb-3">
                            <label for="title" class="col-sm-3 col-form-label">Title</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="title" asp-for="Order.Title">
                                <span asp-validation-for="Order.Title" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="content" class="col-sm-3 col-form-label">Content</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="content" rows="3" asp-for="Order.Content"></textarea>
                                <span asp-validation-for="Order.Content" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="price" class="col-sm-3 col-form-label">Price</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="price" asp-for="Order.Price">
                                <span asp-validation-for="Order.Price" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="contact" class="col-sm-3 col-form-label">Contact</label>
                            <div class="col-sm-9">
                                <select id="contact" class="form-select" asp-for="Order.ContactId">
                                    @foreach (var contact in Model.ContactData)
                                    {
                                        if (contact.Id.Equals(Model.Order.ContactId))
                                        {
                                            <option value="@contact.Id" selected>@contact.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@contact.Id">@contact.Name</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="Order.ContactId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="product" class="col-sm-3 col-form-label">Product</label>
                            <div class="col-sm-9">
                                <select id="product" class="form-select" asp-for="Order.ProductId">
                                    @foreach (var product in Model.ProductData)
                                    {
                                        <option value="@product.Id">@product.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="Order.ProductId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a asp-area="User" asp-controller="Order" asp-action="Index" class="btn btn-secondary">Back</a>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>