@section Styles{
    <link rel="stylesheet" href="~/css/todos.css"/>
}

@model TaskViewModel

@{
    ViewData["Title"] = "Tasks";
}

<section>
    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col">
                <div class="card" id="todoList" style="border-radius: .75rem; background-color: #eff1f2;">
                    <div class="card-body py-4 px-4 px-md-5">

                        <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
                            <i class="fas fa-check-square me-1"></i>
                            @if (Model.Todos.Items.Count > 0)
                            {
                                <a class="col-form-label">Customer tasks - @Model.CustomerName</a>
                            }
                            else
                            {
                                <a class="col-form-label">Customer tasks</a>
                            }
                        </p>

                        <div class="pb-2">
                            <div class="card">
                                <form method="post" asp-area="User" asp-controller="Task" asp-action="Add" class="card-body">
                                    <div class="d-flex flex-row align-items-center">
                                        <select id="customerId" class="form-select border-secondary mx-2" asp-for="Todo.ContactId">
                                            @foreach (var entity in Model.ContactData)
                                            {
                                                if (entity.Id.Equals(Model.Todo.ContactId))
                                                {
                                                    <option value="@entity.Id" selected>@entity.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@entity.Id">@entity.Name</option>
                                                }
                                            }
                                        </select>
                                        <span asp-validation-for="Todo.ContactId" class="text-danger"></span>
                                        <input type="text" class="form-control form-control-lg border-secondary mx-2" id="title" placeholder="Title" asp-for="Todo.Title">
                                        <span asp-validation-for="Todo.Title" class="text-danger"></span>
                                        <input type="text" class="form-control form-control-lg border-secondary mx-2" id="content" placeholder="Content" asp-for="Todo.Content">
                                        <span asp-validation-for="Todo.Content" class="text-danger"></span>
                                        <div>
                                            <input type="submit" class="btn btn-primary" value="Add">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <hr class="my-4">

                        @if (Model.Todos.Items.Count == 0)
                        {
                            <div class="container my-2">
                                <p class="fw-lighter h1 text-center">No content to display.</p>
                            </div>
                        }
                        else
                        {
                            @foreach (var todo in Model.Todos.Items)
                            {
                                <ul class="list-group list-group-horizontal rounded-0 bg-transparent">
                                    <li class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
                                        <p class="lead fw-normal mb-0">@todo.Title - @todo.Content</p>
                                    </li>
                                    <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
                                        <div class="d-flex flex-row justify-content-end mb-1">
                                            <a asp-area="User" asp-controller="Task" asp-action="Edit" asp-route-id="@todo.Id" class="btn btn-primary mx-2">Edit</a>
                                            <a asp-area="User" asp-controller="Task" asp-action="Delete" asp-route-id="@todo.Id" asp-route-contactId="@todo.ContactId" class="btn btn-primary mx-2">Delete</a>
                                        </div>
                                        <div class="text-end text-muted">
                                            <p class="small mb-0">
                                                <i class="fas fa-info-circle me-2"></i>@todo.CreDate.ToString("dd MMMM yyyy")
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>