@model PermissionViewModel

@{
    ViewData["Title"] = "Edit permission";
}

<div class="container my-2">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    Edit permission
                </div>
                <div class="card-body">
                    <form method="post" asp-area="Administrator" asp-controller="Permission" asp-action="Edit">
                        @Html.HiddenFor(e => e.Permission.Id)
                        <div class="row mb-3">
                            <label for="user" class="col-sm-3 col-form-label">User</label>
                            <div class="col-sm-9">
                                <select id="user" name="userId" class="form-select">
                                    @foreach (var user in Model.UserData)
                                    {
                                        if (user.Id.Equals(Model.Permission.UserId))
                                        {
                                            <option value="@user.Id" selected>@user.Username</option>
                                        }
                                        else
                                        {
                                            <option value="@user.Id">@user.Username</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="role" class="col-sm-3 col-form-label">Role</label>
                            <div class="col-sm-9">
                                <select id="role" name="roleId" class="form-select">
                                    @foreach (var role in Model.RoleData)
                                    {
                                        if (role.Id.Equals(Model.Permission.RoleId))
                                        {
                                            <option value="@role.Id" selected>@role.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@role.Id">@role.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a asp-area="Administrator" asp-controller="Permission" asp-action="Index" class="btn btn-secondary">Back</a>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>